<% trackers = Tracker.active.group_by(&:analytics_type) -%>
<% if google_trackers = trackers["google_analytics"] %>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    var pageTracker;
  </script>
  <% for tracker in google_trackers %>
  <script type="text/javascript">
    pageTracker = _gat._getTracker("<%= tracker.analytics_id %>");
    pageTracker._initData();
    pageTracker._trackPageview();
  </script>

    <% if flash[:commerce_tracking] %>

    <script type="text/javascript">
      // report e-commerce transaction information when applicable
      pageTracker._addTrans(
      "<%= @order.number %>",    //Order Number
      "",    //Affiliation
      "<%= @order.total %>",    //Order total
      "<%= @order.adjustments.tax.sum(:amount).to_s %>",    //Tax Amount
      "<%= @order.adjustments.shipping.sum(:amount).to_s %>",    //Ship Amount
      "",    //City
      "",    //State
      ""    //Country
      );
      <% @order.line_items.each do |line_item| %>
        pageTracker._addItem("<%= @order.number %>", "<%= line_item.variant.sku %>", "<%= line_item.variant.product.name %>",
          "" /*Product Category*/, "<%= line_item.price %>", "<%= line_item.quantity %>");
      <% end %>
      pageTracker._trackTrans();
    </script>

    <% end %>

  <% end %>
<% end %>

<% if yandex_trackers = trackers["yandex_metric"] %>
  <!-- Yandex.Metrika counter -->
  <% for tracker in yandex_trackers %>
  <div style="display:none;"><script type="text/javascript">(function(w, c) {(w[c] = w[c] || []).push(function() {try {w.yaCounter<%= tracker.analytics_id %> = new Ya.Metrika({id:<%= tracker.analytics_id %>, enableAll: true, webvisor:true});}catch(e) { }});})(window, "yandex_metrika_callbacks");</script></div>
  <noscript><div><img src="//mc.yandex.ru/watch/<%= tracker.analytics_id %>" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <% end %>
  <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
  <!-- /Yandex.Metrika counter -->
<% end %>
